:root {
  --Primary-Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50vh;
  background-color: var(--Very-Dark-Blue);
  color: var(--Pale-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 5rem;
}

.card {
  background-color: var(--Dark-Blue);
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: fit-content;
}

.fylo-card {
  border-top-right-radius: 70px;
  padding-right: 6rem;
}

.fylo-card > img {
  margin-bottom: 1rem;
}

.fylo-card .icons img {
  background-color: var(--Very-Dark-Blue);
  padding: 0.6rem;
  width: 1.2rem;
  height: 1rem;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.storage-card {
  width: 25rem;
}

.storage-card > h4 {
  font-weight: normal;
  color: hsla(243, 100%, 93%, 0.615);
  margin-bottom: 0.7rem;
}

.storage-card > h4 span {
  font-weight: bold;
  opacity: 1;
  color: var(--Pale-Blue);
}

.storage-card .progress-bar {
  width: 100%;
  height: 1rem;
  background: var(--Very-Dark-Blue);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.storage-card .progress-bar #progress-fill {
  height: 70%;
  width: 70%;
  display: block;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  position: relative;
  border-radius: 15px;
  margin-left: 2px;
}

.storage-card .progress-bar #progress-fill::after {
  content: "";
  background-color: #fff;
  position: absolute;
  right: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 0.55rem;
  height: 0.55rem;
  top: 1.3px;
}

.storage-card .progress-bar #gigas-left {
  background-color: #fff;
  color: var(--Grayish-Blue);
  position: absolute;
  top: -100px;
  right: 0;
  padding: 0.8rem 1rem;
  width: fit-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-bottom-right-radius: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .storage-card .progress-bar::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: white white transparent transparent;
    right: 0;
    top: -41px;
  }
}

.storage-card .progress-bar #gigas-left span {
  font-size: 2rem;
  color: var(--Very-Dark-Blue);
  margin-right: 8px;
}

.storage-card .progress-bar #start-span,
.storage-card .progress-bar #end-span {
  position: absolute;
  top: 25px;
  font-weight: bold;
}

.storage-card .progress-bar #end-span {
  right: 0;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../images/bg-mobile.png);
    padding: 0;
  }
  main {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .fylo-card {
    padding-right: 0;
  }
  .storage-card h4 {
    text-align: center;
  }
  .storage-card .progress-bar #gigas-left {
    border-bottom-right-radius: 10px;
    top: 300%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(6, 100%, 80%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
